<li>
  <%= link_to("↑", upvote_question_path(question), method: :post) %>
  <%= link_to("↓", downvote_question_path(question),  method: :post) %>
  <%= pluralize(vote_count(question), "vote") %>

  <%= link_to("#{question.title}", question_path(question)) %>
</li>
<p><%= question.content %></p>