<li id="<%= question.id %>">
  <%= link_to("#{question.title}", question_path(question)) %><br>
  <%= link_to("↑", upvote_question_path(question), method: :post, remote: true) %>
  <%= link_to("↓", downvote_question_path(question),  method: :post, remote: true) %>
  <span><%= pluralize(vote_count(question), "vote") %></span>


</li>
<p><%= question.content %></p>