<div class='container'>
<h1>Add a new question:</h1>
<%= render 'form' %>
<%= github_welcome %>

<h1>Questions List:</h1>
<ul class="list-inline">
  <% @questions.each do |question| %>
    <li>
      <%= link_to("↑", upvote_question_path(question), method: :post) %>
      <%= link_to("↓", downvote_question_path(question),  method: :post) %>
      <%= pluralize(vote_count(question), "vote") %>

      <%= link_to("#{question.title}", question_path(question)) %>
    </li>
    <p><%= question.content %></p>
  <% end %>
</ul>
</div>

