<%= @question.title %>
<%= link_to 'Create Answer', new_question_answer_path(@question) %>
<%= link_to 'Edit Question', edit_question_path %>
<%= link_to 'Destroy Question', question_path(@question), :confirm => 'Are you sure?', :method => :delete  %>
<ul>
  <% @answers.each do |answer| %>
  <li>
    <%= answer.title %>
  </li>
  <p><%= answer.content %></p>
  <% end %>
</ul>
