<%= @question.title %><br>
<%= @question.content %><br>
<%= link_to 'Create Answer', new_question_answer_path(@question) %>
<%= link_to 'Edit Question', edit_question_path %>
<%= link_to 'Destroy Question', question_path(@question), :confirm => 'Are you sure?', :method => :delete  %>
<ul>
  <% @answers.each do |answer| %>
  <li>
    <%= pluralize(vote_count(answer), "votes") %>
    <%= link_to("↑", question_answer_upvote_path(@question, answer), method: :post) %>
    <%= link_to("↓", question_answer_downvote_path(@question, answer),  method: :post) %>
    <%= answer.title %>
  </li>
  <p><%= answer.content %></p>
  <% end %>
</ul>
