  <ul>
  <li>
    <%= pluralize(vote_count(answer), "vote") %>
    <%= link_to("↑", question_answer_upvote_path(@question, answer), method: :post) %>
    <%= link_to("↓", question_answer_downvote_path(@question, answer),  method: :post) %>
    <%= answer.title %>
  </li>
  <p><%= answer.content %></p>

  <%= link_to 'Delete Answer', [answer.question, answer], method: :delete, data: {confirm: 'Are you sure you want to delete this answer?'} %>
</ul>