<li id="<%= answer.id %>">
    <%= answer.title %><br>
  <%= link_to("↑", question_answer_upvote_path(@question, answer), method: :post, remote: true) %>
  <%= link_to("↓", question_answer_downvote_path(@question, answer),  method: :post, remote: true) %>
  <span><%= pluralize(vote_count(answer), "vote") %></span>

</li>
<p><%= answer.content %></p>
